/* 
 * hyperapp_app - global css
 * @author {{author}}
 * @version {{version}}
 */

.hyperapp_app {
    background: $black;
    color:      $white;
    padding:    pxToRem(20);

    input {
        padding: pxToRem(5);
        display: block;
    }

    button {
        background: $white;
        border:     0;
        color:      $black;
        margin:     pxToRem(5) pxToRem(5) pxToRem(5) 0;
        padding:    pxToRem(20);
    }
}
