/* 
 * image_example - global css
 * @author {{author}}
 * @version {{version}}
 */

 .image_example {
    
    &_page {
        background: url('{{file_dest}}/crazy-cats.jpg') center center no-repeat;
        background-size: cover;
    }
    
    img {
        bottom:    0;
        left:      50%;
        position:  absolute;
        transform:  translateX(-50%);
    }
 }  
